In [1]:
from warnings import filterwarnings

filterwarnings('ignore')

In [2]:
import pandas as pd
import numpy as np

In [3]:
pd.set_option('display.max_columns', None)

In [4]:
pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [5]:
mat_cap_df = pd.read_csv('data/NMC_5_0-wsupplementary.csv', encoding = 'latin-1')

mat_cap_df.rename({'milex': 'military_expenditure', 'milper': 'military_personnel',
          'irst': 'iron_steel_prod', 'pec': 'prim_energy_consumption',
          'tpop': 'total_pop', 'upop': 'urban_pop',
          'upopgrowth': 'urban_pop_growth_rate', 'ccode': 'c_code_1',
          'statenme': 'state_name_1', 'cinc': 'cinc_score'}, axis = 1, inplace = True)

mat_cap_df['military_expenditure'] = ([s * 1000 for s in mat_cap_df['military_expenditure']])
mat_cap_df['military_personnel'] = ([s * 1000 for s in mat_cap_df['military_personnel']])
mat_cap_df['total_pop'] = ([s * 1000 for s in mat_cap_df['total_pop']])
mat_cap_df['urban_pop'] = ([s * 1000 for s in mat_cap_df['urban_pop']])
mat_cap_df['iron_steel_prod'] = ([s * 2000000 for s in mat_cap_df['iron_steel_prod']])
mat_cap_df['prim_energy_consumption'] = ([s * 2000000 for s in mat_cap_df['prim_energy_consumption']])

mat_cap_df.loc[mat_cap_df['military_expenditure'] == -9000, 'military_expenditure'] = None
mat_cap_df.loc[mat_cap_df['military_personnel'] == -9000, 'military_personnel'] = None
mat_cap_df.loc[mat_cap_df['total_pop'] == -9000, 'total_pop'] = None
mat_cap_df.loc[mat_cap_df['urban_pop'] == -9000, 'urban_pop'] = None
mat_cap_df.loc[mat_cap_df['iron_steel_prod'] == -18000000 , 'iron_steel_prod'] = None
mat_cap_df.loc[mat_cap_df['prim_energy_consumption'] == -18000000 , 'prim_energy_consumption'] = None

mat_cap_df = mat_cap_df.sort_values(by = 'year', ascending = True).reset_index()

mat_cap_df.drop(['stateabb', 'milpersource', 'milpernote', 'milexsource', 'milexnote',
                 'irstsource', 'irstnote', 'pecsource', 'pecnote', 'pecnote',
                 'tpopsource', 'tpopnote', 'upopsource', 'upopnote', 'upopgrowthsource',
                 'irstqualitycode', 'irstanomalycode', 'pecqualitycode', 'pecanomalycode',
                 'tpopqualitycode', 'tpopanomalycode', 'upopqualitycode', 'upopanomalycode',
                 'version', 'urban_pop_growth_rate', 'iron_steel_prod', 'urban_pop',
                 'index'], axis = 1, inplace = True)

In [6]:
mat_cap_df.to_pickle('pickle/mat_cap_df.pkl')
mat_cap_df.to_csv('dataframe_exports/mat_cap_df.csv')

In [7]:
mat_cap_df.head()

,state_name_1,c_code_1,year,military_expenditure,military_personnel,prim_energy_consumption,total_pop,cinc_score
0,United States of America,2,1816,3823000.00,17000.00,508000000.00,8659000.00,0.04
1,Spain,230,1816,6512000.00,125000.00,0.00,11073000.00,0.05
2,Netherlands,210,1816,2375000.00,26000.00,2284000000.00,5610000.00,0.04
3,Portugal,235,1816,nan,22000.00,0.00,2746000.00,0.01
4,United Kingdom,200,1816,16942000.00,255000.00,45056000000.00,19520000.00,0.34