In [84]:
from warnings import filterwarnings

filterwarnings('ignore')

In [85]:
import pandas as pd
import numpy as np

In [86]:
pd.set_option('display.max_columns', None)

In [87]:
pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [88]:
trade_df_group = pd.read_pickle('pickle/trade_df_group.pkl')
mat_cap_df = pd.read_pickle('pickle/mat_cap_df.pkl')
alliance_df_group = pd.read_pickle('pickle/alliance_df_group.pkl')
mid_df_group = pd.read_pickle('pickle/mid_df_group.pkl')
wrp_df = pd.read_pickle('pickle/wrp_df_imputed.pkl')
gov_df = pd.read_pickle('pickle/gov_df.pkl')
c_code_df = pd.read_pickle('pickle/c_code_df.pkl')

In [89]:
one_df = pd.merge(trade_df_group, mat_cap_df, how = 'outer', on = ['c_code_1', 'year'])

one_df.rename({'state_name_1_x': 'state_name_1'}, axis = 1, inplace = True)

one_df.drop(['state_name_1_y'], axis = 1, inplace = True)

In [90]:
c_code_dic = {}

for i, code in enumerate(c_code_df['c_code']):
    c_code_dic[code] = c_code_df['state_name'][i]

In [91]:
for i, code in enumerate(one_df['c_code_1']):
    one_df.loc[i, 'state_name_1'] = c_code_dic[code]

In [92]:
one_df.head()

,c_code_1,state_name_1,year,num_trade_states,export_dollars,import_dollars,military_expenditure,military_personnel,iron_steel_prod,prim_energy_consumption,total_pop,urban_pop,cinc_score
0,2,United States of America,1870,36.00,256170000.00,359400000.00,13128000.00,50000.00,3384000000.00,75558000000.00,39905000.00,4130000.00,0.10
1,2,United States of America,1871,35.00,319960000.00,430510000.00,11811000.00,42000.00,3470000000.00,79092000000.00,40938000.00,4302000.00,0.10
2,2,United States of America,1872,32.00,313530000.00,353040000.00,14246000.00,42000.00,5180000000.00,96958000000.00,41972000.00,4481000.00,0.12
3,2,United States of America,1873,32.00,392890000.00,542810000.00,15014000.00,43000.00,5204000000.00,107348000000.00,43006000.00,4667000.00,0.12
4,2,United States of America,1874,32.00,317460000.00,553420000.00,12899000.00,44000.00,4878000000.00,103472000000.00,44040000.00,4862000.00,0.11

In [93]:
two_df = pd.merge(one_df, alliance_df_group, how = 'outer', on = ['c_code_1', 'year'])

two_df.rename({'state_name_1_x': 'state_name_1'}, axis = 1, inplace = True)

two_df.drop(['state_name_1_y'], axis = 1, inplace = True)

In [94]:
for i, code in enumerate(two_df['c_code_1']):
    two_df.loc[i, 'state_name_1'] = c_code_dic[code]

In [95]:
two_df.head()

,c_code_1,state_name_1,year,num_trade_states,export_dollars,import_dollars,military_expenditure,military_personnel,iron_steel_prod,prim_energy_consumption,total_pop,urban_pop,cinc_score,num_alliances,pre_1816_alliances,num_in_effect_1231_2012,defense_treaties,neutrality_treaties,nonaggression_treaties,entente_treaties
0,2,United States of America,1870,36.00,256170000.00,359400000.00,13128000.00,50000.00,3384000000.00,75558000000.00,39905000.00,4130000.00,0.10,nan,nan,nan,nan,nan,nan,nan
1,2,United States of America,1871,35.00,319960000.00,430510000.00,11811000.00,42000.00,3470000000.00,79092000000.00,40938000.00,4302000.00,0.10,nan,nan,nan,nan,nan,nan,nan
2,2,United States of America,1872,32.00,313530000.00,353040000.00,14246000.00,42000.00,5180000000.00,96958000000.00,41972000.00,4481000.00,0.12,nan,nan,nan,nan,nan,nan,nan
3,2,United States of America,1873,32.00,392890000.00,542810000.00,15014000.00,43000.00,5204000000.00,107348000000.00,43006000.00,4667000.00,0.12,nan,nan,nan,nan,nan,nan,nan
4,2,United States of America,1874,32.00,317460000.00,553420000.00,12899000.00,44000.00,4878000000.00,103472000000.00,44040000.00,4862000.00,0.11,nan,nan,nan,nan,nan,nan,nan

In [96]:
three_df = pd.merge(two_df, mid_df_group, how = 'outer', on = ['c_code_1', 'year'])

three_df.drop(['state_name_abb_a'], axis = 1, inplace = True)

In [97]:
for i, code in enumerate(three_df['c_code_1']):
    three_df.loc[i, 'state_name_1'] = c_code_dic[code]

In [98]:
three_df.head()

,c_code_1,state_name_1,year,num_trade_states,export_dollars,import_dollars,military_expenditure,military_personnel,iron_steel_prod,prim_energy_consumption,total_pop,urban_pop,cinc_score,num_alliances,pre_1816_alliances,num_in_effect_1231_2012,defense_treaties,neutrality_treaties,nonaggression_treaties,entente_treaties,num_conflicts,avg_with,avg_against,avg_cum_duration,num_wars,origin_participant_pct,ongoing_2010,revision_pct,avg_hostility_level,revision_type_mode,state_fatality_bin_mode,outcome_mode,settlement_type_mode
0,2,United States of America,1870,36.00,256170000.00,359400000.00,13128000.00,50000.00,3384000000.00,75558000000.00,39905000.00,4130000.00,0.10,nan,nan,nan,nan,nan,nan,nan,2.00,2.00,1.00,0.06,0.00,0.50,0.00,0.00,3.50,N/A,None Value,Yield by State B,None Value
1,2,United States of America,1871,35.00,319960000.00,430510000.00,11811000.00,42000.00,3470000000.00,79092000000.00,40938000.00,4302000.00,0.10,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,NaN,NaN,NaN,NaN
2,2,United States of America,1872,32.00,313530000.00,353040000.00,14246000.00,42000.00,5180000000.00,96958000000.00,41972000.00,4481000.00,0.12,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,NaN,NaN,NaN,NaN
3,2,United States of America,1873,32.00,392890000.00,542810000.00,15014000.00,43000.00,5204000000.00,107348000000.00,43006000.00,4667000.00,0.12,nan,nan,nan,nan,nan,nan,nan,2.00,1.00,1.50,0.07,0.00,1.00,0.00,0.50,3.00,"[N/A, Policy]",None Value,"[Stalemate, Yield by for State A]","[Negotiated, None Value]"
4,2,United States of America,1874,32.00,317460000.00,553420000.00,12899000.00,44000.00,4878000000.00,103472000000.00,44040000.00,4862000.00,0.11,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,NaN,NaN,NaN,NaN

In [99]:
four_df = pd.merge(three_df, wrp_df, how = 'outer', on = ['c_code_1', 'year'])

four_df.rename({'state_name_1_x': 'state_name_1'}, axis = 1, inplace = True)

four_df.drop(['state_name_1_y'], axis = 1, inplace = True)

In [100]:
for i, code in enumerate(four_df['c_code_1']):
    four_df.loc[i, 'state_name_1'] = c_code_dic[code]

In [101]:
four_df.head()

,c_code_1,state_name_1,year,num_trade_states,export_dollars,import_dollars,military_expenditure,military_personnel,iron_steel_prod,prim_energy_consumption,total_pop,urban_pop,cinc_score,num_alliances,pre_1816_alliances,num_in_effect_1231_2012,defense_treaties,neutrality_treaties,nonaggression_treaties,entente_treaties,num_conflicts,avg_with,avg_against,avg_cum_duration,num_wars,origin_participant_pct,ongoing_2010,revision_pct,avg_hostility_level,revision_type_mode,state_fatality_bin_mode,outcome_mode,settlement_type_mode,total_protestant,total_catholic,total_christian,total_jewish,total_sunni,total_shia,total_islam,total_buddhist,total_hindu,total_sikh,total_shinto,total_non_religious,majority_religion
0,2,United States of America,1870,36.00,256170000.00,359400000.00,13128000.00,50000.00,3384000000.00,75558000000.00,39905000.00,4130000.00,0.10,nan,nan,nan,nan,nan,nan,nan,2.00,2.00,1.00,0.06,0.00,0.50,0.00,0.00,3.50,N/A,None Value,Yield by State B,None Value,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,NaN
1,2,United States of America,1871,35.00,319960000.00,430510000.00,11811000.00,42000.00,3470000000.00,79092000000.00,40938000.00,4302000.00,0.10,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,NaN,NaN,NaN,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,NaN
2,2,United States of America,1872,32.00,313530000.00,353040000.00,14246000.00,42000.00,5180000000.00,96958000000.00,41972000.00,4481000.00,0.12,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,NaN,NaN,NaN,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,NaN
3,2,United States of America,1873,32.00,392890000.00,542810000.00,15014000.00,43000.00,5204000000.00,107348000000.00,43006000.00,4667000.00,0.12,nan,nan,nan,nan,nan,nan,nan,2.00,1.00,1.50,0.07,0.00,1.00,0.00,0.50,3.00,"[N/A, Policy]",None Value,"[Stalemate, Yield by for State A]","[Negotiated, None Value]",nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,NaN
4,2,United States of America,1874,32.00,317460000.00,553420000.00,12899000.00,44000.00,4878000000.00,103472000000.00,44040000.00,4862000.00,0.11,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,NaN,NaN,NaN,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,NaN

In [102]:
df = pd.merge(four_df, gov_df, how = 'inner', on = ['c_code_1', 'year'])

df = df.sort_values(by = 'year', ascending = True).reset_index()

df.rename({'state_name_1_x': 'state_name_1'}, axis = 1, inplace = True)

df.drop(['state_name_1_y', 'index'], axis = 1, inplace = True)

In [103]:
for i, code in enumerate(df['c_code_1']):
    df.loc[i, 'state_name_1'] = c_code_dic[code]

In [104]:
df.head()

,c_code_1,state_name_1,year,num_trade_states,export_dollars,import_dollars,military_expenditure,military_personnel,iron_steel_prod,prim_energy_consumption,total_pop,urban_pop,cinc_score,num_alliances,pre_1816_alliances,num_in_effect_1231_2012,defense_treaties,neutrality_treaties,nonaggression_treaties,entente_treaties,num_conflicts,avg_with,avg_against,avg_cum_duration,num_wars,origin_participant_pct,ongoing_2010,revision_pct,avg_hostility_level,revision_type_mode,state_fatality_bin_mode,outcome_mode,settlement_type_mode,total_protestant,total_catholic,total_christian,total_jewish,total_sunni,total_shia,total_islam,total_buddhist,total_hindu,total_sikh,total_shinto,total_non_religious,majority_religion,territory_change,territory_change_year,election_type,legislation_type,legislature_status,party_legal_status,party_existance,party_existance_outside_regime,legislature_parties,incumbent_type,collective_leadership,num_leadership_changes,leader_tenure,military_leader,royal_leader,nominal_vs_eff_diff,communist_leader,leader_died,democratic_regime,cabinet_assembly,popular_election,regime_type,transition_democracy,transition_dictatorship,age_govt,num_transitions_ever
0,2,United States of America,1946,65.00,160000000.00,14.40,45133984000.00,3030000.00,120842000000.00,2376288000000.00,141389000.00,39725000.00,0.36,19.00,0.00,0.00,19.00,0.00,0.00,19.00,2.00,1.00,1.50,0.27,0.00,0.50,0.00,0.00,3.50,N/A,"[1-25, None Value]",Stalemate,None Value,67473753.40,39500570.00,112810898.20,4931113.00,0.00,0.00,0.00,1450113.50,0.00,0.00,0.00,22813261.20,Christianity,0.00,0.00,1.00,2.00,2.00,2.00,2.00,2.00,2.00,0.00,0.00,0.00,2.00,1.00,0.00,0.00,0.00,1.00,1.00,0.00,1.00,2.00,0.00,0.00,77.00,0.00
1,325,Italy,1946,65.00,0.00,0.00,213807000.00,260000.00,2306000000.00,18536000000.00,45380000.00,8885000.00,0.02,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,NaN,NaN,NaN,NaN,0.00,44308156.80,44501118.40,46390.20,0.00,0.00,2429.40,965.60,0.00,0.00,0.00,930473.80,Christianity,0.00,0.00,2.00,2.00,2.00,2.00,2.00,2.00,2.00,0.00,0.00,0.00,2.00,0.00,0.00,0.00,0.00,1.00,1.00,1.00,0.00,0.00,1.00,0.00,1.00,1.00
2,660,Lebanon,1946,65.00,0.00,0.00,5111000.00,4000.00,0.00,16000000.00,1156000.00,199000.00,0.00,6.00,0.00,4.00,0.00,0.00,6.00,6.00,nan,nan,nan,nan,nan,nan,nan,nan,nan,NaN,NaN,NaN,NaN,12134.00,424690.00,625385.60,0.00,327681.40,226212.40,553893.80,0.00,0.00,0.00,0.00,0.00,Christianity,0.00,0.00,2.00,2.00,2.00,2.00,2.00,2.00,2.00,0.00,0.00,2.00,1.00,0.00,0.00,0.00,0.00,1.00,1.00,0.00,0.00,0.00,1.00,0.00,1.00,0.00
3,140,Brazil,1946,65.00,0.00,0.00,309848000.00,119000.00,686000000.00,11118000000.00,47313000.00,5521000.00,0.01,19.00,0.00,0.00,19.00,0.00,0.00,19.00,nan,nan,nan,nan,nan,nan,nan,nan,nan,NaN,NaN,NaN,NaN,1480085.80,45049869.60,46546417.80,34978.00,0.00,0.00,0.00,106928.80,0.00,0.00,0.00,150829.80,Christianity,0.00,0.00,1.00,2.00,2.00,2.00,2.00,2.00,2.00,0.00,0.00,1.00,1.00,1.00,0.00,0.00,0.00,1.00,1.00,0.00,1.00,2.00,1.00,0.00,1.00,0.00
4,339,Albania,1946,65.00,0.00,0.00,11946000.00,60000.00,0.00,402000000.00,1138000.00,0.00,0.00,1.00,0.00,0.00,1.00,0.00,0.00,0.00,2.00,1.00,1.00,0.67,0.00,1.00,0.00,0.00,4.00,N/A,None Value,"[N/A, Stalemate]","[N/A, None Value]",0.00,141442.40,382323.20,571.40,0.00,0.00,755892.00,0.00,0.00,0.00,0.00,1240.20,Islam,0.00,0.00,3.00,2.00,2.00,1.00,1.00,1.00,1.00,0.00,0.00,0.00,3.00,1.00,0.00,0.00,1.00,1.00,0.00,0.00,0.00,4.00,0.00,0.00,35.00,0.00

In [105]:
df.loc[df['export_dollars'] == 0, 'export_dollars'] = None
df.loc[df['import_dollars'] == 0, 'import_dollars'] = None
df.loc[df['cinc_score'] == 0, 'cinc_score'] = None

df.loc[df['num_alliances'].isnull(), 'num_alliances'] = 0
df.loc[df['pre_1816_alliances'].isnull(), 'pre_1816_alliances'] = 0
df.loc[df['num_in_effect_1231_2012'].isnull(), 'num_in_effect_1231_2012'] = 0
df.loc[df['defense_treaties'].isnull(), 'defense_treaties'] = 0
df.loc[df['neutrality_treaties'].isnull(), 'neutrality_treaties'] = 0
df.loc[df['nonaggression_treaties'].isnull(), 'nonaggression_treaties'] = 0
df.loc[df['entente_treaties'].isnull(), 'entente_treaties'] = 0
df.loc[df['num_conflicts'].isnull(), 'num_conflicts'] = 0
df.loc[df['avg_cum_duration'].isnull(), 'avg_cum_duration'] = 0
df.loc[df['num_wars'].isnull(), 'num_wars'] = 0
df.loc[df['state_fatality_bin_mode'].isnull(), 'state_fatality_bin_mode'] = 0
df.loc[df['revision_type_mode'].isnull(), 'revision_type_mode'] = 0

df.loc[df['avg_hostility_level'].isnull(), 'avg_hostility_level'] = 1

# df.loc[df['avg_with'].isnull(), 'avg_with'] = 0
# df.loc[df['avg_against'].isnull(), 'avg_against'] = 0
# df.loc[df['origin_participant_pct'].isnull(), 'origin_participant_pct'] = 0
# df.loc[df['revision_pct'].isnull(), 'revision_pct'] = 0

In [106]:
df[df['state_name_1'].isnull()].head()

Empty DataFrame
Columns: [c_code_1, state_name_1, year, num_trade_states, export_dollars, import_dollars, military_expenditure, military_personnel, iron_steel_prod, prim_energy_consumption, total_pop, urban_pop, cinc_score, num_alliances, pre_1816_alliances, num_in_effect_1231_2012, defense_treaties, neutrality_treaties, nonaggression_treaties, entente_treaties, num_conflicts, avg_with, avg_against, avg_cum_duration, num_wars, origin_participant_pct, ongoing_2010, revision_pct, avg_hostility_level, revision_type_mode, state_fatality_bin_mode, outcome_mode, settlement_type_mode, total_protestant, total_catholic, total_christian, total_jewish, total_sunni, total_shia, total_islam, total_buddhist, total_hindu, total_sikh, total_shinto, total_non_religious, majority_religion, territory_change, territory_change_year, election_type, legislation_type, legislature_status, party_legal_status, party_existance, party_existance_outside_regime, legislature_parties, incumbent_type, collective_leadership, num_leadership_changes, leader_tenure, military_leader, royal_leader, nominal_vs_eff_diff, communist_leader, leader_died, democratic_regime, cabinet_assembly, popular_election, regime_type, transition_democracy, transition_dictatorship, age_govt, num_transitions_ever]
Index: []

In [107]:
df[([s % 5 != 0 for s in df['year']])].head()

,c_code_1,state_name_1,year,num_trade_states,export_dollars,import_dollars,military_expenditure,military_personnel,iron_steel_prod,prim_energy_consumption,total_pop,urban_pop,cinc_score,num_alliances,pre_1816_alliances,num_in_effect_1231_2012,defense_treaties,neutrality_treaties,nonaggression_treaties,entente_treaties,num_conflicts,avg_with,avg_against,avg_cum_duration,num_wars,origin_participant_pct,ongoing_2010,revision_pct,avg_hostility_level,revision_type_mode,state_fatality_bin_mode,outcome_mode,settlement_type_mode,total_protestant,total_catholic,total_christian,total_jewish,total_sunni,total_shia,total_islam,total_buddhist,total_hindu,total_sikh,total_shinto,total_non_religious,majority_religion,territory_change,territory_change_year,election_type,legislation_type,legislature_status,party_legal_status,party_existance,party_existance_outside_regime,legislature_parties,incumbent_type,collective_leadership,num_leadership_changes,leader_tenure,military_leader,royal_leader,nominal_vs_eff_diff,communist_leader,leader_died,democratic_regime,cabinet_assembly,popular_election,regime_type,transition_democracy,transition_dictatorship,age_govt,num_transitions_ever
0,2,United States of America,1946,65.00,160000000.00,14.40,45133984000.00,3030000.00,120842000000.00,2376288000000.00,141389000.00,39725000.00,0.36,19.00,0.00,0.00,19.00,0.00,0.00,19.00,2.00,1.00,1.50,0.27,0.00,0.50,0.00,0.00,3.50,N/A,"[1-25, None Value]",Stalemate,None Value,67473753.40,39500570.00,112810898.20,4931113.00,0.00,0.00,0.00,1450113.50,0.00,0.00,0.00,22813261.20,Christianity,0.00,0.00,1.00,2.00,2.00,2.00,2.00,2.00,2.00,0.00,0.00,0.00,2.00,1.00,0.00,0.00,0.00,1.00,1.00,0.00,1.00,2.00,0.00,0.00,77.00,0.00
1,325,Italy,1946,65.00,nan,nan,213807000.00,260000.00,2306000000.00,18536000000.00,45380000.00,8885000.00,0.02,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,nan,nan,0.00,0.00,nan,nan,nan,1.00,0,0,NaN,NaN,0.00,44308156.80,44501118.40,46390.20,0.00,0.00,2429.40,965.60,0.00,0.00,0.00,930473.80,Christianity,0.00,0.00,2.00,2.00,2.00,2.00,2.00,2.00,2.00,0.00,0.00,0.00,2.00,0.00,0.00,0.00,0.00,1.00,1.00,1.00,0.00,0.00,1.00,0.00,1.00,1.00
2,660,Lebanon,1946,65.00,nan,nan,5111000.00,4000.00,0.00,16000000.00,1156000.00,199000.00,0.00,6.00,0.00,4.00,0.00,0.00,6.00,6.00,0.00,nan,nan,0.00,0.00,nan,nan,nan,1.00,0,0,NaN,NaN,12134.00,424690.00,625385.60,0.00,327681.40,226212.40,553893.80,0.00,0.00,0.00,0.00,0.00,Christianity,0.00,0.00,2.00,2.00,2.00,2.00,2.00,2.00,2.00,0.00,0.00,2.00,1.00,0.00,0.00,0.00,0.00,1.00,1.00,0.00,0.00,0.00,1.00,0.00,1.00,0.00
3,140,Brazil,1946,65.00,nan,nan,309848000.00,119000.00,686000000.00,11118000000.00,47313000.00,5521000.00,0.01,19.00,0.00,0.00,19.00,0.00,0.00,19.00,0.00,nan,nan,0.00,0.00,nan,nan,nan,1.00,0,0,NaN,NaN,1480085.80,45049869.60,46546417.80,34978.00,0.00,0.00,0.00,106928.80,0.00,0.00,0.00,150829.80,Christianity,0.00,0.00,1.00,2.00,2.00,2.00,2.00,2.00,2.00,0.00,0.00,1.00,1.00,1.00,0.00,0.00,0.00,1.00,1.00,0.00,1.00,2.00,1.00,0.00,1.00,0.00
4,339,Albania,1946,65.00,nan,nan,11946000.00,60000.00,0.00,402000000.00,1138000.00,0.00,0.00,1.00,0.00,0.00,1.00,0.00,0.00,0.00,2.00,1.00,1.00,0.67,0.00,1.00,0.00,0.00,4.00,N/A,None Value,"[N/A, Stalemate]","[N/A, None Value]",0.00,141442.40,382323.20,571.40,0.00,0.00,755892.00,0.00,0.00,0.00,0.00,1240.20,Islam,0.00,0.00,3.00,2.00,2.00,1.00,1.00,1.00,1.00,0.00,0.00,0.00,3.00,1.00,0.00,0.00,1.00,1.00,0.00,0.00,0.00,4.00,0.00,0.00,35.00,0.00

In [108]:
df[(df['year'] == 1952) & (df['c_code_1'] == 40)]

,c_code_1,state_name_1,year,num_trade_states,export_dollars,import_dollars,military_expenditure,military_personnel,iron_steel_prod,prim_energy_consumption,total_pop,urban_pop,cinc_score,num_alliances,pre_1816_alliances,num_in_effect_1231_2012,defense_treaties,neutrality_treaties,nonaggression_treaties,entente_treaties,num_conflicts,avg_with,avg_against,avg_cum_duration,num_wars,origin_participant_pct,ongoing_2010,revision_pct,avg_hostility_level,revision_type_mode,state_fatality_bin_mode,outcome_mode,settlement_type_mode,total_protestant,total_catholic,total_christian,total_jewish,total_sunni,total_shia,total_islam,total_buddhist,total_hindu,total_sikh,total_shinto,total_non_religious,majority_religion,territory_change,territory_change_year,election_type,legislation_type,legislature_status,party_legal_status,party_existance,party_existance_outside_regime,legislature_parties,incumbent_type,collective_leadership,num_leadership_changes,leader_tenure,military_leader,royal_leader,nominal_vs_eff_diff,communist_leader,leader_died,democratic_regime,cabinet_assembly,popular_election,regime_type,transition_democracy,transition_dictatorship,age_govt,num_transitions_ever
469,40,Cuba,1952,76.00,643930000.20,758819999.80,56000000.00,20000.00,0.00,1286000000.00,5759000.00,1416000.00,0.00,20.00,0.00,0.00,20.00,0.00,20.00,20.00,0.00,nan,nan,0.00,0.00,nan,nan,nan,1.00,0,0,NaN,NaN,229417.60,5163240.00,5392657.60,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,Christianity,0.00,0.00,3.00,0.00,0.00,2.00,2.00,2.00,0.00,0.00,0.00,0.00,1.00,1.00,0.00,0.00,0.00,1.00,0.00,0.00,0.00,4.00,0.00,1.00,1.00,1.00

In [109]:
len(df['c_code_1'].unique())

198

In [110]:
len(df)

9147

In [111]:
df[df['c_code_1'] == 347]

Empty DataFrame
Columns: [c_code_1, state_name_1, year, num_trade_states, export_dollars, import_dollars, military_expenditure, military_personnel, iron_steel_prod, prim_energy_consumption, total_pop, urban_pop, cinc_score, num_alliances, pre_1816_alliances, num_in_effect_1231_2012, defense_treaties, neutrality_treaties, nonaggression_treaties, entente_treaties, num_conflicts, avg_with, avg_against, avg_cum_duration, num_wars, origin_participant_pct, ongoing_2010, revision_pct, avg_hostility_level, revision_type_mode, state_fatality_bin_mode, outcome_mode, settlement_type_mode, total_protestant, total_catholic, total_christian, total_jewish, total_sunni, total_shia, total_islam, total_buddhist, total_hindu, total_sikh, total_shinto, total_non_religious, majority_religion, territory_change, territory_change_year, election_type, legislation_type, legislature_status, party_legal_status, party_existance, party_existance_outside_regime, legislature_parties, incumbent_type, collective_leadership, num_leadership_changes, leader_tenure, military_leader, royal_leader, nominal_vs_eff_diff, communist_leader, leader_died, democratic_regime, cabinet_assembly, popular_election, regime_type, transition_democracy, transition_dictatorship, age_govt, num_transitions_ever]
Index: []

In [112]:
print('total possible 0:\t', len(df))
print('majority_religion == 0:\t', len(df[df['majority_religion'] == 0]), '\t', pd.Series((len(df[df['majority_religion'] == 0])/len(df))).values[0].round(3))
print('total_protestant == 0:\t', len(df[df['total_protestant'] == 0]), '\t', pd.Series((len(df[df['total_protestant'] == 0])/len(df))).values[0].round(3))
print('total_catholic == 0:\t', len(df[df['total_catholic'] == 0]), '\t', pd.Series((len(df[df['total_catholic'] == 0])/len(df))).values[0].round(3))
print('total_christian == 0:\t', len(df[df['total_christian'] == 0]), '\t', pd.Series((len(df[df['total_christian'] == 0])/len(df))).values[0].round(3))
print('total_jewish == 0:\t', len(df[df['total_jewish'] == 0]), '\t', pd.Series((len(df[df['total_jewish'] == 0])/len(df))).values[0].round(3))
print('total_sunni == 0:\t', len(df[df['total_sunni'] == 0]), '\t', pd.Series((len(df[df['total_sunni'] == 0])/len(df))).values[0].round(3))
print('total_shia == 0:\t', len(df[df['total_shia'] == 0]), '\t', pd.Series((len(df[df['total_shia'] == 0])/len(df))).values[0].round(3))
print('total_islam == 0:\t', len(df[df['total_islam'] == 0]), '\t', pd.Series((len(df[df['total_islam'] == 0])/len(df))).values[0].round(3))
print('total_buddhist == 0:\t', len(df[df['total_buddhist'] == 0]), '\t', pd.Series((len(df[df['total_buddhist'] == 0])/len(df))).values[0].round(3))
print('total_hindu == 0:\t', len(df[df['total_hindu'] == 0]), '\t', pd.Series((len(df[df['total_hindu'] == 0])/len(df))).values[0].round(3))
print('total_sikh == 0:\t', len(df[df['total_sikh'] == 0]), '\t', pd.Series((len(df[df['total_sikh'] == 0])/len(df))).values[0].round(3))
print('total_shinto == 0:\t', len(df[df['total_shinto'] == 0]), '\t', pd.Series((len(df[df['total_shinto'] == 0])/len(df))).values[0].round(3))
print('total_non_religious == 0:\t', len(wrp_df[wrp_df['total_non_religious'] == 0]), '\t', pd.Series((len(df[df['total_non_religious'] == 0])/len(df))).values[0].round(3))

total possible 0:	 9147
majority_religion == 0:	 166 	 0.018
total_protestant == 0:	 713 	 0.078
total_catholic == 0:	 419 	 0.046
total_christian == 0:	 269 	 0.029
total_jewish == 0:	 3523 	 0.385
total_sunni == 0:	 6574 	 0.719
total_shia == 0:	 7508 	 0.821
total_islam == 0:	 1342 	 0.147
total_buddhist == 0:	 4230 	 0.462
total_hindu == 0:	 5221 	 0.571
total_sikh == 0:	 7428 	 0.812
total_shinto == 0:	 8848 	 0.967
total_non_religious == 0:	 4471 	 0.13

In [114]:
df.drop(['total_protestant', 'total_catholic', 'total_christian',
         'total_jewish', 'total_sunni', 'total_shia',
         'total_islam', 'total_buddhist', 'total_hindu',
         'total_sikh', 'total_shinto', 'total_non_religious'],
        axis = 1, inplace = True)

In [116]:
for i, majority_religion in enumerate(df['majority_religion']):
    if majority_religion == 0:
        df.loc[i, 'majority_religion'] = str(df[(df['c_code_1'] == df.loc[i, 'c_code_1']) & (df['majority_religion'] != 0)]['majority_religion'].value_counts().nlargest(1)).split()[0]

In [130]:
df.to_pickle('pickle/df.pkl')
df.to_csv('dataframe_exports/df.csv')