In [2]:
from warnings import filterwarnings

filterwarnings('ignore')

In [3]:
import pandas as pd
import numpy as np

In [4]:
pd.set_option('display.max_columns', None)

In [5]:
pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [6]:
contiguity_df = pd.read_csv('data/contdird.csv', encoding = 'utf8')

contiguity_df.rename({'state1no': 'c_code_1', 'state2no': 'c_code_2',
           'state1ab': 'state_name_abb_1', 'state2ab': 'state_name_abb_2',
           'conttype': 'contiguity_type'}, axis = 1, inplace = True)
         
contiguity_df.drop(['dyad', 'version'], axis = 1, inplace = True)

In [7]:
contiguity_df.to_pickle('pickle/contiguity_df.pkl')
contiguity_df.to_csv('dataframe_exports/contiguity_df.csv')

In [9]:
contiguity_df.head()

   c_code_1 state_name_abb_1  c_code_2 state_name_abb_2  year  contiguity_type
0         2              USA        20              CAN  1920                1
1         2              USA        20              CAN  1921                1
2         2              USA        20              CAN  1922                1
3         2              USA        20              CAN  1923                1
4         2              USA        20              CAN  1924                1