In [1]:
from warnings import filterwarnings

filterwarnings('ignore')

In [2]:
from copy import deepcopy
import pandas as pd
import numpy as np

In [3]:
pd.set_option('display.max_columns', None)
pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [5]:
mid_df = pd.read_csv('../Data Sources/dyadic MIDs 3.1.csv', encoding = 'utf8')
  
mid_df.rename({'revstata': 'revision_sought', 'revtypea': 'revision_type',
               'fatleva': 'state_fatality_bin', 'highmcaa': 'highest_mca',
               'hihosta': 'highest_hostility', 'durindx': 'year_num',
               'midc3hia': 'highest_action_for_state', 'orignata': 'origin_participant',
               'notarg': 'num_against', 'settlmnt': 'settlement_type',
               'fatlev': 'total_fatality_bin', 'noinit': 'num_with',
               'disno': 'dispute_id', 'statea': 'c_code_1', 'stateb': 'c_code_2',
               'namea': 'state_name_abb_a', 'nameb': 'state_name_abb_b',
               'cumdurat': 'cumulative_duration', 'ongo2010': 'ongoing_2010'}, axis = 1, inplace = True)

mid_df['date_start'] = pd.to_datetime((mid_df['strtyr']*10000+mid_df['strtmnth']*100+mid_df['strtday']).apply(str),format='%Y%m%d')
mid_df['date_end'] = pd.to_datetime((mid_df['endyear']*10000+mid_df['endmnth']*100+mid_df['endday']).apply(str),format='%Y%m%d')

mid_df.loc[mid_df['sideaa'] == 1, 'initiator'] = 1
mid_df.loc[mid_df['sideaa'] != 1, 'initiator'] = 0

mid_df = mid_df.sort_values(by = 'year', ascending = True).reset_index()

mid_df.drop(['strtmnth', 'strtday', 'strtyr', 'endmnth', 'endday',
             'endyear', 'dyindex', 'duration', 'disno4', 'sideaa',
             'sideab', 'revstatb', 'revtypeb', 'fatlevb', 'highmcab',
             'hihostb', 'hihost', 'orignatb', 'recip', 'rolea', 'roleb',
             'mid3hiact', 'mid3hib', 'change', 'changetype_1',
             'changetype_2', 'highact', 'new', 'mid3hia', 'index'],
            axis = 1, inplace = True)

In [6]:
mid_df.loc[mid_df['outcome'] == 1, 'outcome'] = 'Victory for State A'
mid_df.loc[mid_df['outcome'] == 2, 'outcome'] = 'Victory for State B'
mid_df.loc[mid_df['outcome'] == 3, 'outcome'] = 'Yield by for State A'
mid_df.loc[mid_df['outcome'] == 4, 'outcome'] = 'Yield by State B'
mid_df.loc[mid_df['outcome'] == 5, 'outcome'] = 'Stalemate'
mid_df.loc[mid_df['outcome'] == 6, 'outcome'] = 'Compromise'
mid_df.loc[mid_df['outcome'] == 7, 'outcome'] = 'Released (for seizures)'
mid_df.loc[mid_df['outcome'] == 8, 'outcome'] = 'Unclear'
mid_df.loc[mid_df['outcome'] == 0, 'outcome'] = 'N/A'

mid_df.loc[mid_df['settlement_type'] == 1, 'settlement_type'] = 'Negotiated'
mid_df.loc[mid_df['settlement_type'] == 2, 'settlement_type'] = 'Imposed'
mid_df.loc[mid_df['settlement_type'] == 3, 'settlement_type'] = 'None Value'
mid_df.loc[mid_df['settlement_type'] == 4, 'settlement_type'] = 'Unclear'
mid_df.loc[mid_df['settlement_type'] == 0, 'settlement_type'] = 'N/A'

mid_df.loc[mid_df['total_fatality_bin'] == 0, 'total_fatality_bin'] = 'None Value'
mid_df.loc[mid_df['total_fatality_bin'] == 1, 'total_fatality_bin'] = '1-25'
mid_df.loc[mid_df['total_fatality_bin'] == 2, 'total_fatality_bin'] = '26-100'
mid_df.loc[mid_df['total_fatality_bin'] == 3, 'total_fatality_bin'] = '101-250'
mid_df.loc[mid_df['total_fatality_bin'] == 4, 'total_fatality_bin'] = '251-500'
mid_df.loc[mid_df['total_fatality_bin'] == 5, 'total_fatality_bin'] = '501-999'
mid_df.loc[mid_df['total_fatality_bin'] == 6, 'total_fatality_bin'] = '1,000+'
mid_df.loc[mid_df['total_fatality_bin'] == -9, 'total_fatality_bin'] = None

mid_df.loc[mid_df['state_fatality_bin'] == 0, 'state_fatality_bin'] = 'None Value'
mid_df.loc[mid_df['state_fatality_bin'] == 1, 'state_fatality_bin'] = '1-25'
mid_df.loc[mid_df['state_fatality_bin'] == 2, 'state_fatality_bin'] = '26-100'
mid_df.loc[mid_df['state_fatality_bin'] == 3, 'state_fatality_bin'] = '101-250'
mid_df.loc[mid_df['state_fatality_bin'] == 4, 'state_fatality_bin'] = '251-500'
mid_df.loc[mid_df['state_fatality_bin'] == 5, 'state_fatality_bin'] = '501-999'
mid_df.loc[mid_df['state_fatality_bin'] == 6, 'state_fatality_bin'] = '1,000+'
mid_df.loc[mid_df['state_fatality_bin'] == -9, 'state_fatality_bin'] = None

mid_df.loc[mid_df['revision_type'] == 1, 'revision_type'] = 'Territory'
mid_df.loc[mid_df['revision_type'] == 2, 'revision_type'] = 'Policy'
mid_df.loc[mid_df['revision_type'] == 3, 'revision_type'] = 'Regime/Government'
mid_df.loc[mid_df['revision_type'] == 4, 'revision_type'] = 'Other'
mid_df.loc[mid_df['revision_type'] == 0, 'revision_type'] = 'N/A'
mid_df.loc[mid_df['revision_type'] == -9, 'revision_type'] = None

mid_df.loc[mid_df['highest_mca'] == 1, 'highest_mca'] = 1
mid_df.loc[(mid_df['highest_mca'] >= 2) & (mid_df['highest_mca'] <= 6), 'highest_mca'] = 2
mid_df.loc[(mid_df['highest_mca'] >= 7) & (mid_df['highest_mca'] <= 13), 'highest_mca'] = 3
mid_df.loc[(mid_df['highest_mca'] >= 14) & (mid_df['highest_mca'] <= 20), 'highest_mca'] = 4
mid_df.loc[mid_df['highest_mca'] >= 21, 'highest_mca'] = 5

mid_df.loc[mid_df['date_start'].isnull(), 'date_start'] = mid_df[mid_df['dispute_id'] == 3254]['date_start'].values[0]

In [7]:
mid_df.rename({'highest_mca': 'hostility_level'}, axis = 1, inplace = True)
mid_df.drop(['highest_hostility'], axis = 1, inplace = True)

In [8]:
trade_df = pd.read_pickle('../Pickles/trade_df.pkl')
trade_mid = pd.merge(trade_df, mid_df, how = 'inner', on = ['c_code_1', 'c_code_2', 'year'])

In [9]:
aggregations = {'year': 'count'}
trade_mid_grouped = trade_mid.groupby(['c_code_1', 'c_code_2', 'dispute_id', 'date_start']).agg(aggregations).reset_index()

In [10]:
trade_mid_combos = list(trade_mid_grouped[['c_code_1', 'c_code_2', 'dispute_id', 'date_start']].values)

In [11]:
for i, combo in enumerate(trade_mid_combos):
    start_year = combo[3].year
    trade_yrs_before_mid = []
    combo_trade_years = list(trade_df[(trade_df['c_code_1'] == combo[0]) & (trade_df['c_code_2'] == combo[1])]['year'].values)
    combo_trade_years = [x for x in combo_trade_years if x < start_year]
    non_consecutives = []
    for z, year in enumerate(combo_trade_years[1:]):
        z+=1
        if year - combo_trade_years[z -1] == 1:
            pass
        else:
            non_consecutives.append(year)
    if non_consecutives != []:
        combo_trade_years = [x for x in combo_trade_years if x >= max(non_consecutives)]
    if combo_trade_years == []:
        trade_mid_grouped.loc[i, 'trade_yrs_before_mid'] = 0
    elif (len(combo_trade_years) - 1) == (max(combo_trade_years) - min(combo_trade_years)):
        trade_mid_grouped.loc[i, 'trade_yrs_before_mid'] = (max(combo_trade_years) - min(combo_trade_years))
    else:
        print(combo[0], combo[1], combo[3].year, (len(combo_trade_years) - 1), (max(combo_trade_years) - min(combo_trade_years)))

In [12]:
# trade_mid_grouped.drop(['date_start', 'year'], axis = 1, inplace = True)

In [33]:
trade_mid_grouped.head()

   c_code_1  c_code_2  dispute_id date_start  year  trade_yrs_before_mid
0         2        20        2968 1979-08-28     1                 58.00
1         2        20        3900 1989-12-11     1                 68.00
2         2        20        3972 1991-07-29     1                 70.00
3         2        20        4183 1997-05-25     1                 76.00
4         2        40          61 1962-01-28     1                 52.00

In [14]:
trade_mid_grouped[(trade_mid_grouped['c_code_1'] == 531) & (trade_mid_grouped['c_code_1'] == 530)]

Empty DataFrame
Columns: [c_code_1, c_code_2, dispute_id, date_start, year, trade_yrs_before_mid]
Index: []

In [15]:
len(trade_mid_grouped)

6185

In [16]:
len(mid_df)

9852

In [17]:
mid_df = deepcopy(pd.merge(mid_df, trade_mid_grouped, how = 'left', on = ['c_code_1', 'c_code_2', 'dispute_id', 'date_start']))

In [18]:
len(mid_df[(mid_df['trade_yrs_before_mid'] <= 20) & (mid_df['trade_yrs_before_mid'] != 0)])/len(mid_df)

0.3211530653674381

In [19]:
mid_df.rename({'year_x': 'year'}, axis = 1, inplace = True)
mid_df.drop(['year_y'], axis = 1, inplace = True)

In [20]:
c_code_df = pd.read_pickle('../Pickles/c_code_df.pkl')

In [21]:
c_code_dic = {}

for i, code in enumerate(c_code_df['c_code']):
    c_code_dic[code] = c_code_df['state_name'][i]

In [22]:
for i, code in enumerate(mid_df['c_code_1']):
    mid_df.loc[i, 'state_name_1'] = c_code_dic[code]

In [23]:
for i, code in enumerate(mid_df['c_code_2']):
    mid_df.loc[i, 'state_name_2'] = c_code_dic[code]

In [24]:
mid_df.to_pickle('pickle/mid_df.pkl')
mid_df.to_csv('dataframe_exports/mid_df.csv')

In [25]:
mid_net_df = deepcopy(mid_df[mid_df['year'] >= 1946])

In [26]:
mid_net_df.to_pickle('pickle/mid_net_df.pkl')
mid_net_df.to_csv('dataframe_exports/mid_net_df.csv')

In [27]:
aggregations = {
  'c_code_2': 'count',
  'num_with': 'sum',
  'num_against': 'sum',
  'cumulative_duration': 'sum',
  'war': 'sum',
  'origin_participant': 'mean',
  'ongoing_2010': 'mean',
  'revision_sought': 'mean',
  'hostility_level': 'mean',
  'revision_type': pd.Series.mode,
  'state_fatality_bin': pd.Series.mode,
  'outcome': pd.Series.mode,
  'settlement_type': pd.Series.mode,
  }

mid_df_group = mid_df.groupby(['c_code_1', 'state_name_1', 'year']).agg(aggregations).reset_index()

for i, country in enumerate(mid_df_group['c_code_1']):
    mid_df_group.loc[i, 'num_with'] = mid_df_group['num_with'][i]/mid_df_group['c_code_2'][i]
    mid_df_group.loc[i, 'num_against'] = mid_df_group['num_against'][i]/mid_df_group['c_code_2'][i]
    mid_df_group.loc[i, 'cumulative_duration'] = mid_df_group['cumulative_duration'][i]/mid_df_group['c_code_2'][i]
    mid_df_group.loc[i, 'cumulative_duration'] = mid_df_group['cumulative_duration'][i]/365

mid_df_group = mid_df_group.sort_values(by = 'year', ascending = True).reset_index()

mid_df_group.rename({'c_code_2': 'num_conflicts', 'num_with': 'avg_with',
                     'num_against': 'avg_against', 'cumulative_duration': 'avg_cum_duration',
                     'war': 'num_wars', 'origin_participant': 'origin_participant_pct',
                     'revision_sought': 'revision_pct', 'revision_type': 'revision_type_mode',
                     'state_fatality_bin': 'state_fatality_bin_mode', 'outcome': 'outcome_mode',
                     'settlement_type': 'settlement_type_mode',
                     'hostility_level': 'avg_hostility_level'}, axis = 1, inplace = True)

mid_df_group.drop(['index'], axis = 1, inplace = True)

In [28]:
mid_df_group['state_fatality_bin_mode'] = mid_df_group['state_fatality_bin_mode'].astype(str)
mid_df_group.loc[mid_df_group['state_fatality_bin_mode'] == '[]', 'state_fatality_bin_mode'] = None
mid_df_group.drop(['state_fatality_bin_mode', 'origin_participant_pct',
                   'outcome_mode', 'settlement_type_mode',
                   'revision_type_mode', 'avg_against', 'avg_with'], axis = 1, inplace = True)

In [29]:
mid_df_group.to_pickle('../Pickles/mid_df_group.pkl')

In [30]:
mid_df_group.head()

,c_code_1,state_name_1,year,num_conflicts,avg_cum_duration,num_wars,ongoing_2010,revision_pct,avg_hostility_level
0,2,United States of America,1816,1,0.00,0,0.00,1.00,4.00
1,230,Spain,1816,1,0.00,0,0.00,0.00,1.00
2,365,Russia,1817,1,0.14,0,0.00,1.00,3.00
3,640,Turkey,1817,1,0.14,0,0.00,0.00,3.00
4,2,United States of America,1818,1,0.21,0,0.00,1.00,4.00